{% extends "base.html" %}
{% block head %}{% endblock %}

{% block title %} {{ project.title | default:"Project Details" }}{% endblock %}

{% block body %}
    <div class="flex justify-between items-center align-top mb-4">

        <div id="project-details">
            <h1>{{ project.title }}</h1>
            <p class="mb-4">{{ project.description }}</p>
        </div>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" id="project-menu" class="btn m-1"><i class="fa-solid fa-ellipsis-vertical"></i></div>

            <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                <li><a
                        hx-get="{% url 'projects:edit' project.pk %}"
                        hx-target="#project-details"
                        hx-swap="outerHTML"
                        class="">
                    Edit Details
                </a></li>
                <li><a
                        hx-get="{% url 'projects:delete' pk=project.id %}"
                        hx-target="#modal-content"
                        hx-swap="innerHTML"
                        class=""
                        onclick="openModal('Delete Project')">

                    Delete Project</a></li>
            </ul>
        </div>

    </div>

    <div>

        <h2>Entity Types</h2>
        <div id="entity-list" class="space-y-4">
            {% for entity in project.entity_types.all %}
                {% include "partials/entitytype_list_partial.html" %}
            {% endfor %}
            <div id="entity-new"></div>
        </div>

        <button
                hx-get="{% url 'projects:add_entitytype' project.pk %}"
                hx-target="#entity-new"
                hx-swap="innerHTML"
                class="btn btn-primary mt-4"
        >
            + Add Entity Type
        </button>

    </div>
{% endblock %}