{% extends 'base.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/django-dynamic-formset/1.5.0/jquery.formset.min.js"></script>

{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4">Edit Project</h1>

    <form method="post" class="space-y-4">
        {% csrf_token %}

        <fieldset class="fieldset text-base">
            {% for field in form.visible_fields %}
                    <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
            {% endfor %}
            {#        {{ form.as_p }}#}

        </fieldset>
        <h2 class="mt-6 mb-2">Entity Types</h2>
        <p>Custom tag types available in this project</p>

        {{ entity_formset.management_form }}

        {% for form in entity_formset %}
            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-md border p-4">
                <legend class="fieldset-legend">Entity Type</legend>
                {% for field in form.visible_fields %}
                    <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}
            </fieldset>
        {% endfor %}


        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'projects:detail' object.pk %}" class="btn">Cancel</a>
    </form>

    <script>
        $('.formset-item').formset({
            addText: '➕ Add another',
            deleteText: '🗑 Remove',
            prefix: 'entity_types'
        });
    </script>
{% endblock %}