{% extends "base.html" %}

{% block title %}Projects{% endblock %}


{% block body %}

    <button
            hx-get="{% url 'projects:create' %}"
            hx-target="#modal-content"
            hx-swap="innerHTML"
            {#      _="on htmx:afterOnLoad set #modal-title.innerHTML to 'New Project' then call showModal()"#}
            _="on htmx:afterOnLoad set #modal-title.innerHTML to 'New Project'"
\           class="bg-primary btn w-64 rounded-full"
            {#      onclick="base_modal.showModal()">#}
            onclick="openModal('New Project')">
        + New Project
    </button>
    <!-- Project list container -->
    <div id="project-list"
         hx-get="{% url 'projects:project_list_partial' %}"
         hx-trigger="load">
        <!-- fallback content if JS disabled -->
        {% include "project_list_partial.html" %}
    </div>

{% endblock %}
