@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake, emerald, fantasy, lemonade, silk;
}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

/* Max container width on big screens */
@media (width >= 96rem) {
    .container {
        max-width: 80rem;
    }
}


@layer base {
  h1 {
    @apply text-4xl md:text-5xl font-bold mb-3;
  }
  h2 {
    @apply text-2xl md:text-3xl font-semibold  mb-3;
  }
  h3 {
    @apply text-xl font-semibold  mb-3;
  }
  p {
    @apply text-base leading-relaxed;
  }
}
