{% load form_fields %}


<div class="relative  mb-3">
    {{ field | add_attrs:"class: input input-bordered block rounded-t-lg px-2.5 pb-2.5 pt-5 text-sm peer" }}
    <label class=
                   "absolute text-sm text-gray-500 dark:text-gray-400 duration-300
             transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5
             peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
             peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4
             rtl:peer-focus:left-auto">{{ field.label }}</label>
    {% if field.errors %}
        <span class="text-red-500 text-sm">{{ field.errors.0 }}</span>
    {% endif %}
    {% if field.help_text %}
        <p class="mb-3 ml-3 text-xs text-gray-500 dark:text-gray-400">
            {{ field.help_text }}
        </p>
    {% endif %}
</div>
