{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <title>{% block title %}Annotate me baby{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
            integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
            crossorigin="anonymous"></script>
    {% tailwind_css %}
    <script src="https://kit.fontawesome.com/898fbad675.js" crossorigin="anonymous"></script>
    {#    <link href="{% static 'base.css' %}" rel="stylesheet">#}
    {% block head %}{% endblock %}

</head>
<body class="">

{% include 'navbar.html' %}

<div class="justify-center flex">
    <div id="body_content" class="container px-4 py-8">
        {% include 'breadcrumbs.html' %}
        {% block body %}{% endblock %}
    </div>
</div>

{% include 'modal.html' %}
</body>
</html>

<!-- Keep Tailwind classes visible to the scanner -->
<span class="hidden
    btn btn-primary btn-secondary btn-accent btn-warning
    bg-primary bg-secondary bg-accent
    text-primary text-secondary text-accent
    modal modal-box modal-backdrop
"></span>

{% csrf_token %}
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        event.detail.headers['X-CSRFToken'] = csrfToken;
    });
</script>