<div class="bg-base-100 shadow-sm flex justify-center">
    <div class="container navbar p-4">
        <div class="flex-1">
            <a class="text-xl">Network Annotation Tool</a>
        </div>

        <div class="flex gap-2">
            {#        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto"/>#}
            {% if user.is_authenticated %}
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar avatar-placeholder">
                        <div class="w-12 rounded-full bg-base-300">
                            <span class="text-xl">L</span>
                        </div>
                    </div>
                    <ul
                            tabindex="-1"
                            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
{#                        <li>#}
{#                            <a class="justify-between">#}
{#                                Profile#}
{#                                <span class="badge">New</span>#}
{#                            </a>#}
{#                        </li>#}
                        <li><a>Settings</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Log Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}

        </div>
    </div>
</div>

